<article>
    <h1>JavaScript</h1>
    <div class="content">
      <p>JavaScript (JS) es un lenguaje de programación lijero, interpretado, o compilado justo-a-tiempo (just-in-time)
        con funciones de primera clase.</p>
      <ul>
        <li>Puede incrustarse dentro del HTML como <s>&lt;script&gt;&lt;/script&gt;</s> o vinculando el archivo
          .js dentro del body pero al final de este: <s>&lt;script src=""&gt;&lt;/script&gt;</s></li>
      </ul>
      <div class="images">
      </div>
    </div>
</article>
