<article>
    <h1>React</h1>
    <div class="content">
      <p>React es una biblioteca Javascript de código abierto diseñada para crear interfaces de usuario con el objetivo
        de facilitar el desarrollo de aplicaciones en una sola página.</p>
      <ul>
        <li>Al igual que angular, se levanta con <i>npm start</i> en el localhost:3000</li>
        <li>Se importan módulos que hay que instalar con <i>npm install</i></li>
        <li>Los recursos gráficos van en la carpeta <s>public/</s></li>
        <li>Los estilos css/scss van en <s>style/</s></li>
        <li>Una pantalla, por ejemplo home, es un archivo <s>.js</s>. En la parte de arriba van las importaciones, funciones, etc. En la parte de abajo, dentro de un <s>return()</s> va el código html.</li>
        <li>Para estilar un html hay que importar (o sea vincular) el archivo scss a ese archivo .js: <s>import
            '../styles/home.scss';</s></li>
        <li>React, tiene una estructura de tipo árbol. Hay un "componente" inicial y se va abriendo en otros componentes
          que heredan.</li>
      </ul>
      <div class="images">
        <img src="assets/img/react/orden react.png" alt="">
        <img src="assets/img/react/orden react2.png" alt="">
      </div>
    </div>
</article>
