<article>
  <div class="recursos">
    <img src="assets/img/recursos/add.svg" alt="">
    <img src="assets/img/recursos/arrow-down.svg" alt="">
    <img src="assets/img/recursos/arrow-down2.svg" alt="">
    <img src="assets/img/recursos/arrow_right.svg" alt="">
    <img src="assets/img/recursos/arrow_white.svg" alt="">
    <img src="assets/img/recursos/arrows-profile.svg" alt="">
    <img src="assets/img/recursos/arrowW.svg" alt="">
    <img src="assets/img/recursos/borrar.svg" alt="">
    <img src="assets/img/recursos/buscar.svg" alt="">
    <img src="assets/img/recursos/calendar.svg" alt="">
    <img src="assets/img/recursos/calendar_input.svg" alt="">
    <img src="assets/img/recursos/check.svg" alt="">
    <img src="assets/img/recursos/check2.svg" alt="">
    <img src="assets/img/recursos/close-fill.svg" alt="">
    <img src="assets/img/recursos/close2.svg" alt="">
    <img src="assets/img/recursos/comment_fill.svg" alt="">
    <img src="assets/img/recursos/cross.svg" alt="">
    <img src="assets/img/recursos/cross2.svg" alt="">
    <img src="assets/img/recursos/delete.svg" alt="">
    <img src="assets/img/recursos/dots.svg" alt="">
    <img src="assets/img/recursos/down_arrow.svg" alt="">
    <img src="assets/img/recursos/download.svg" alt="">
    <img src="assets/img/recursos/download2.svg" alt="">
    <img src="assets/img/recursos/editar.svg" alt="">
    <img src="assets/img/recursos/error.svg" alt="">
    <img src="assets/img/recursos/featured-status.svg" alt="">
    <img src="assets/img/recursos/filters.svg" alt="">
    <img src="assets/img/recursos/flecha.svg" alt="">
    <img src="assets/img/recursos/flecha2.svg" alt="">
    <img src="assets/img/recursos/flechas.svg" alt="">
    <img src="assets/img/recursos/green_check.svg" alt="">
    <img src="assets/img/recursos/ideas.svg" alt="">
    <img src="assets/img/recursos/imprimir.svg" alt="">
    <img src="assets/img/recursos/light.svg" alt="">
    <img src="assets/img/recursos/mail.svg" alt="">
    <img src="assets/img/recursos/member.svg" alt="">
    <img src="assets/img/recursos/menu.svg" alt="">
    <img src="assets/img/recursos/menu2.svg" alt="">
    <img src="assets/img/recursos/moon.svg" alt="">
    <img src="assets/img/recursos/new.svg" alt="">
    <img src="assets/img/recursos/notif.svg" alt="">
    <img src="assets/img/recursos/order.svg" alt="">
    <img src="assets/img/recursos/right-arrow.svg" alt="">
    <img src="assets/img/recursos/save.svg" alt="">
    <img src="assets/img/recursos/search.svg" alt="">
    <img src="assets/img/recursos/search2.svg" alt="">
    <img src="assets/img/recursos/selected.svg" alt="">
    <img src="assets/img/recursos/share.svg" alt="">
    <img src="assets/img/recursos/sobre.svg" alt="">
    <img src="assets/img/recursos/star.svg" alt="">
    <img src="assets/img/recursos/sun.svg" alt="">
    <img src="assets/img/recursos/temperature.svg" alt="">
    <img src="assets/img/recursos/time.svg" alt="">
    <img src="assets/img/recursos/upload.svg" alt="">
    <img src="assets/img/recursos/user-icon.svg" alt="">
    <img src="assets/img/recursos/usr-default.svg" alt="">
    <img src="assets/img/recursos/ver.svg" alt="">
    <img src="assets/img/recursos/view1.svg" alt="">
    <img src="assets/img/recursos/view2.svg" alt="">
    <img src="assets/img/recursos/warning.svg" alt="">
  </div>
</article>