article{
    .recursos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        img{
            width: 5rem;
            height: 5rem;
            margin: 0 1rem 1.5rem 0;
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0.04);
            border-radius: 10px;
            transition-duration: .1s;

            &:hover{
                background-color: rgba(255, 255, 255, 0.1);                
            }
        }
    }
}

@media(max-width: 690px){
    article{
        .recursos{
            padding-top: 3rem;
            img{
                width: 15vw;
                height: 15vw;
                margin: 0 7vw 7vw 0;

                &:nth-child(4n){
                    margin-right: 0;
                }
            }
        }
    }
}