<article>
  <h1>HTML</h1>
  <div class="content">
    <ul>
      <li>Cambiar favicon svg: <s>&lt;link rel="icon" type="image/svg" href="assets/img/favicon.svg"&gt;</s></li>
      <li>Cambiar favicon png: <s>&lt;link rel="icon" type="image/png" href="assets/img/favicon.png"&gt;</s></li>
      <li>Abrir enlace en una nueva pestaña: agregar <s>target="_blank"</s> a la etiqueta <s>&lt;a&gt;</s></li>
      <li>Evitar google translate: <s>&lt;meta name="google" content="notranslate" /&gt;</s></li>
    </ul>
  </div>
</article>